$zoom: 1.1892;

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --box-shadow:	
        0px 0px 3px 1px #000000d2, 
        0px 3px 13px 5px #111111c5;
    
    --box-shadow-focus:
        0px 0px 1px 1px colors.hcl("aqua", 5, 40), 
        0px 3px 13px 5px black;
}

body {
    @include fonts.text-passage(11.25pt);

    width: 100dvw;
    height: 100dvh;
    font-size: #{sizes.$font-2};
}

h1 { @include fonts.text-heading(#{sizes.$font-1}); }
h2 { @include fonts.text-heading(#{sizes.$font-2}); }
h3 { @include fonts.text-heading(#{sizes.$font-3}); }
h4 { @include fonts.text-heading(#{sizes.$font-4}); }
h5 { @include fonts.text-heading(#{sizes.$font-5}); }
h6 { @include fonts.text-heading(#{sizes.$font-6}); }

strong
{ @include fonts.text-heading(11pt); }

b
{ @include fonts.text-significant(12pt); }

input[type="number"], .text-math
{ @include fonts.text-math(11.5pt); }

// .text-mono
// { @include fonts.text-mono(11.5pt); }

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;

    &.icon {
        aspect-ratio: 1;

        &.max { width: #{sizes.$icon-max}; }
        &.sup { width: #{sizes.$icon-sup}; }
        &.med { width: #{sizes.$icon-med}; }
        &.sub { width: #{sizes.$icon-sub}; }
        &.min { width: #{sizes.$icon-min}; }
    }
}
span > img {
    display: inline-block;
}

input[type="number"] {
    background: linear-gradient(in oklab to bottom, white 50%, #f6f6f6 81%, white);
    color: #111;
    border-radius: 4px;
    border: none;
    border-top: 1px solid white;
    box-shadow: inset 0px 1px 1px 1px #f6f6f6;
    padding: 1px 3px;

    &:disabled {
        filter: contrast(50%);
    }
}

button {
    font: inherit;
    display: inline-block;
    background-color: #eee;
    color: black;
    border: 2px solid #aaa;
    border-radius: 5px;
}
button:not([disabled]):not([interestfor]) {
    transition: 0.06s ease-out;
    
    &:hover {
        border-radius: 0;
        scale: #{$zoom};
        box-shadow: 
        0 0 0 calc((1px + 2px) / #{$zoom}) colors.hcl("honey", 5, 44),
        0 0 24px 21px colors.hcl("blue", 2, 2) !important;
    }
}
button:not([disabled]):not([interestfor]):hover,
*:has(button:not([disabled]):not([interestfor]):hover) {
    position: relative;
    z-index: 1;
}

a[interestfor],
button[interestfor] {
    /* color: inherit; */
    /* text-decoration: none; */
    interest-delay: 0s;
}

.plain {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.sheer, .sheerBackground {
    background: #7771;
}
.sheer, .sheerBorder {
    border: 1px solid #7771;
}

*[popover] {
    position-area: bottom;
    position-try-fallbacks: top;
}
*[popover="hint"] {
    pointer-events: none;
}

*:interest-source {
    outline: calc(1px / #{$zoom}) solid black !important;
    filter: brightness(110%) !important;
}

.rounded {
    border-radius: calc(2px + 5%);
}