*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --zoom: 1;

    --box-shadow:	
        0px 0px 3px 1px #000000d2, 
        0px 3px 13px 5px #111111c5;
}

body {
    @include fonts.text-passage(12pt);

    width: 100dvw;
    height: 100dvh;
    font-size: #{12pt};
}

h1 { @include fonts.text-heading(#{sizes.$font-1}); }
h2 { @include fonts.text-heading(#{sizes.$font-2}); }
h3 { @include fonts.text-heading(#{sizes.$font-3}); }
h4 { @include fonts.text-heading(#{sizes.$font-4}); }
h5 { @include fonts.text-heading(#{sizes.$font-5}); }
h6 { @include fonts.text-heading(#{sizes.$font-6}); }

strong
{ @include fonts.text-heading(11.5pt); }

b
{ @include fonts.text-significant(12.5pt); }

input[type="number"], .text-math
{ @include fonts.text-math(12pt); }

// .text-mono
// { @include fonts.text-mono(11.5pt); }

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    box-sizing: content-box;

    &.icon {
        aspect-ratio: 1;

        &.max { width: #{sizes.$icon-max}; }
        &.sup { width: #{sizes.$icon-sup}; }
        &.med { width: #{sizes.$icon-med}; }
        &.sub { width: #{sizes.$icon-sub}; }
        &.min { width: #{sizes.$icon-min}; }
    }
}
span > img {
    display: inline-block;
}

input[type="number"] {
    background: linear-gradient(in oklab to bottom, white 50%, #f6f6f6 81%, white);
    color: #111;
    border-radius: 4px;
    border: none;
    border-top: 1px solid white;
    box-shadow: inset 0px 1px 1px 1px #f6f6f6;
    padding: 1px 3px;

    &:disabled {
        filter: contrast(50%);
    }
}

button {
    font: inherit;
    display: inline-block;
    background-color: #eee;
    color: black;
    border: 2px solid #aaa;
    border-radius: 5px;
}
button:not([disabled]) {
    position: relative;
    transition: 0s ease-out;
    cursor: pointer;
}

a[interestfor],
button[interestfor] {
    /* color: inherit; */
    /* text-decoration: none; */
    interest-delay: 0s;
}

.plain {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.sheer, .sheerBackground {
    background: #7771;
}
.sheer, .sheerBorder {
    border: 1px solid #7771;
}

[popover] {
    position-area: bottom;
    position-try-fallbacks: top, right, left;
}
[popover="hint"] {
    pointer-events: none;
}

// *:interest-source,
button:not([disabled]),
*:has(+ [popover]),
[interestfor] {
    &:hover,
    &:has(+ *:popover-open) {
        z-index: 1;
        scale: var(--zoom);
    
        &::after {
            opacity: 1;
        }
    }

    &::after {
        /* animating only opacity is hardware-accelerated (improves performance) */
        /* the duration is abritrary */
        transition: opacity 0s ease-out;

        pointer-events: none;
        z-index: -1;
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        opacity: 0;

        box-shadow: 
        0 0 0 calc(2px / var(--zoom)) colors.$lol-darkness,
        0 0 0 calc(3px / var(--zoom)) colors.hcl("honey", 5, 44),
        0 0 calc(24px / var(--zoom)) calc(21px / var(--zoom)) colors.hcl("blue", 1, 2);
    }
}

.rounded {
    border-radius: calc(2px + 5%);
}

.invisible {
    visibility: hidden;
}